:root {
    --fondo: #2c3e50; 
    --fondo-resalte: #1a252f; 
    --fondo-resalte2: #34495e; 
    --borde: #ecf0f1; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c; 
    color: #ecf0f1; 
}

.bg-pink {
    background-color: var(--fondo) !important;
    border-bottom: 2px solid var(--borde); 
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #ecf0f1 !important;
    border: 2px solid var(--borde); 
    padding: 5px 10px;
    border-radius: 5px; 
}

.nav-link {
    color: #ecf0f1 !important;
    transition: color 0.3s;
    padding: 5px 10px; 
    border-radius: 5px; 
}

.nav-link:hover {
    color: #bdc3c7 !important;
    background-color: var(--fondo-resalte); 
}

.nav-item.dropdown .dropdown-menu {
    background-color: var(--fondo-resalte);
    border: 2px solid var(--borde); 
    border-radius: 5px; 
}

.dropdown-item {
    color: #ecf0f1 !important;
    transition: background-color 0.3s;
    padding: 5px 10px; 
    border-radius: 5px; 
}

.dropdown-item:hover {
    background-color: var(--fondo-resalte2) !important;
    color: #ecf0f1 !important;
}

.btn-pink {
    background-color: var(--fondo-resalte) !important;
    color: white !important;
    transition: background-color 0.3s;
    padding: 10px 20px;
    border: 2px solid var(--borde); 
    border-radius: 5px; 
}

.btn-pink:hover {
    background-color: var(--fondo-resalte2) !important;
    color: white !important;
}

.barras {
    display: flex;
    justify-content: flex-end;
}

.barras .btn {
    margin-left: 10px;
}

.container {
    margin-top: 20px;
}

.search-bar form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.tasks-container {
    background-color: #34495e; 
    height: 300px;
    margin-bottom: 20px;
    padding: 20px;
    overflow-y: auto;
    border: 2px solid var(--borde);
    border-radius: 10px; 
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.card {
    margin: 0 auto !important;
    height: 100% !important;
    background-color: #2c3e50; 
    color: #ecf0f1; 
    width: 18rem;
    transition: transform 0.3s ease-in-out;
    border: 2px solid var(--borde); 
    border-radius: 10px; 
}

.card:hover {
    transform: translateY(-10px);
}

.card-header {
    text-align: center !important;
    font-size: larger !important;
    font-weight: bold !important;
    background-color: #1a252f;
    color: #ecf0f1; 
    border-bottom: 2px solid var(--borde); 
    border-radius: 10px 10px 0 0; 
}

.featurette-divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

main {
    min-height: calc(100vh - 11rem);
}

footer {
    border-top: 5px solid var(--fondo);
    padding: 20px;
    background-color: var(--fondo); 
    color: #ecf0f1; 
    text-align: center; 
}

form > div > div:not(.input-group) {
    display: none;
    color: red;
}

form.validado input:valid,
.valido {
    border: 1px solid green !important;
}

form.validado input:invalid ~ div,
form div .novalido ~ div,
form.validado .input-group:has(input:invalid) ~ div,
form div div.input-group:has(.novalido) ~ div {
    display: block;
}

form.validado input:invalid,
.novalido {
    border: 1px solid red !important;
}


#cardEvents{
    width: 90%;
   
}

#toastEvents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


#carrusel_tareas{
    height: 40%;
    width: 40%;
    display: flex !important;
    justify-content: center !important;
}
